html, body {
    height:100%;
}


img{
    max-width:100%;
}

/*Cover Section*/

#cover{
    background-image:url("../Images/Background/stockvault-drawing-compasses-121507.jpg"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    height:100%;
    text-align:center;
    display:flex;
    align-items:center;
}

.title-text{
    background-color:rgba(0,0,0,0.6);
    color:white;
    padding:1.2rem;
    border-radius:10px;
}

#cover-caption{
    width:100%;
    font-size: 250%;
}

/*Card SECTION*/
#card-section{
    background-color:lightgrey;
}